
.player__title{
    text-align: left;
}

.player{
    padding: 4em;
    background:#fff;
}

.player__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}


.player__details_text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
}

.player__button__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player__button {
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background: #141414;
    color:#fff;
    font-size: 12px;
    cursor: pointer;
}



