
.navbar-container {
    display:flex;
    justify-content: space-between;
    color: white;
    background-color: black;
}

.navbar-logo{
    padding: 1em;
    text-decoration: none;
    color: white;
}

.navbar-right{
    display: flex;
    gap: 1em;
    margin-right: 1em;
}