.modal-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.show {
    opacity: 1;
    pointer-events: visible;
}

.modal-content {
    width: 70%;
    background: #fff;
}

.modal-content.light-theme{
    background: black;
    border: brown 2px solid;
}

.modal-header, .modal-footer {
    padding: 1rem;
}

.modal-header{
    margin: 0;
    text-align: center;
}

.modal-body {
    padding: 1rem;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    text-align: center;
}

.modal-footer {
    display: flex;
}

.modal-close-btn {
    margin: auto;
}

.modal-close-btn.light-theme{
    background: brown;
    color: white;
}