/*                Spells Modal                 */

.modal-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.show {
    opacity: 1;
    pointer-events: visible;
}

.modal-content {
    width: 80%;
    background: #fff;
}

.modal-header, .modal-footer {
    padding: 1rem;
}

.modal-header{
    margin: 0;
    text-align: center;
    font-size: 2.5rem;
}

.modal-body {
    padding: 1rem;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    text-align: center;
}

.modal-footer {
    display: flex;
}

.modal-close-btn {
    margin: auto;
}

.modal-description--spells {
    font-size: 1.1rem;
}

/*                              Spells Modal Tablet                              */
@media screen and (min-width: 678px) {
    .modal-header {
      font-size: 2.7rem;
    }
  
    .modal-description--spells {
      font-size: 1.4rem;
    }
  
  }

  /*                              Spells Modal Tablet                              */
@media screen and (min-width: 1024px) {
    .modal-header {
      font-size: 3rem;
    }
  
    .modal-description--spells {
      font-size: 1.7rem;
    }
  
  }