
  @import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/*                              Heading                              */
.player__title{
    text-align: left;
    font-family: 'MedievalSharp', cursive;
}

/* Heading Lightmode */
.player__title.light-theme{
    color: white;
    background-color: brown;  
}

/*                              Body                                 */
.player{
    padding: 1em;
    background:#fff;  
}

.player.light-theme{
    background: black;
    color: white;
}

.player__list__title {
    font-family: 'MedievalSharp', cursive;
}

.player-wrapper {
    display: flex;
    justify-content: center;
}

.player__items {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.player__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #777;
    border-radius: 4rem;
    padding: 2rem;
    width: 22.5rem;
    background: #f5f5f5;
}

.player__details__info > h5 {
    margin: 0.5rem;
}


.player__details_text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
}

.player__button__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player__button {
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background: #141414;
    color:#fff;
    font-size: 12px;
    cursor: pointer;
    font-family: 'MedievalSharp', cursive;
}

.player__button.light-theme{
    background: brown;
}

.player__title {
    display: flex;
    justify-content: center;
}

.player__details__info {
    font-family: 'MedievalSharp', cursive;
}




.delete__player {
    font-family: 'MedievalSharp', cursive;
}

.player__spells__button{
    font-family: 'MedievalSharp', cursive;
    width: 130px;
    border: none;
    outline: none;
    color: black; 
    
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.player__spells__button.light-theme{
    color: white;
}

.player__spells__button:before {
    content: '';
    background: linear-gradient(120deg, #f7bb97, #f7bb97, #dd5e89 , #dd5e89 , #f7bb97, #f7bb97 );
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.player__spells__button:active {
    color: white;
}

.player__spells__button:active:after {
    background: transparent;
}

.player__spells__button:hover:before {
    opacity: 1;
}

.player__spells__button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.player__details__spellbook {
    font-weight: 100;
}

.player__details__spellbook.light-theme{
    color: white
}

.player__delete__button {
    display: flex;
    align-items: center;
}

.player__spells__button__container {
    display: flex;
    align-items: center;
}

h3 {
    text-align: center;
}

button {

/* CSS */
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);


}
  

  