.die{
    margin: 0.15em 0.2em 0 0.35em;
    padding:0em;
    font-size: 3em;
    color:rgba(255, 10, 10, 0.637);
    align-self: center;

}

.dice-heading{
    margin: 0.4em;
    margin-left: 0.5em;
}

.dice-heading-double{
    margin: 0.4em;
    margin-left: 2.25em;
}

.dice-heading-quad{
    margin: 0.4em;
    margin-left: 6.5em;
}

 .dice-box{
  margin: 2.5em;
  font-family: 'MedievalSharp', cursive;
  border: 4px solid rgb(95, 57, 95);
  border-radius: 25%;
  box-shadow: 0 0 4px 4px #3d2814 inset;
  box-shadow: 5px 10px 8px 10px plum;
  background-color: #e7e2e2;
  min-width: 192px;
} 


.dice-box-double8{
    margin: 2.5em;
    font-family: 'MedievalSharp', cursive;
  border: 4px solid rgb(1, 93, 121);
  border-radius: 25%;
  box-shadow: 0 0 4px 4px #3d2814 inset;
  box-shadow: 5px 10px 8px 10px cadetblue;
  background-color: #e7e2e2;
  min-width: 204px;
}

.dice-box-double10{
    margin: 2.5em;
    font-family: 'MedievalSharp', cursive;
  border: 4px solid rgb(9, 46, 9);
  border-radius: 25%;
  box-shadow: 0 0 4px 4px #3d2814 inset;
  box-shadow: 5px 10px 8px 10px green;
  background-color: #e7e2e2;
  min-width: 204px;
}

.dice-box-double12{
    margin: 2.5em;
    font-family: 'MedievalSharp', cursive;
  border: 4px solid rgb(182, 135, 18);
  border-radius: 25%;
  box-shadow: 0 0 4px 4px #3d2814 inset;
  box-shadow: 5px 10px 8px 10px yellow;
  background-color: #e7e2e2;
  min-width: 204px;
}


.dice-box-quad{
    margin: 2.5em;
    font-family: 'MedievalSharp', cursive;
    border: 4px solid rgb(167, 92, 0);
    border-radius: 25%;
    box-shadow: 0 0 4px 4px #3d2814 inset;
    box-shadow: 5px 10px 8px 10px darkorange;
    background-color: #e7e2e2;
  } 
  

.singleDie{
    margin-left: 1.5em;
}

.dice-total-single{
    margin: 1em;
}

.dice-total-double{
    margin-left: 1.3em;
}

.dice-total-quad{
    margin-left: 5.5em;
}


/* add dice buttons below here using ids to create different colour variations for each dice */
#dicebtn4 {
    margin: 0.5em;
    margin-bottom: 0em;
    margin-left: 2.1em;
    font-size: 0.8em;
    border-radius: 25%;
    background-color: plum;
    font-family: 'MedievalSharp', cursive;
    box-shadow: 5px 5px 0 rgb(70, 9, 85),
    -5px -5px 0 rgb(70, 9, 85),
    -5px 5px 0 rgb(70, 9, 85),
    5px -5px 0 rgb(70, 9, 85);
    transition: 500ms ease-in-out;
}
#dicebtn4:hover{
    background-color: #afabd6;
    cursor: pointer;
    box-shadow: 20px 5px 0 rgb(70, 9, 85), -20px -5px 0 rgb(70, 9, 85);
}


#dicebtn6 {
    margin: 0.5em;
    margin-left: 2.1em;
    font-size: 0.8em;
    margin-bottom: 0em;
    border-radius: 25%;
    background-color: plum;
    font-family: 'MedievalSharp', cursive;
    box-shadow: 5px 5px 0 rgb(70, 9, 85),
    -5px -5px 0 rgb(70, 9, 85),
    -5px 5px 0 rgb(70, 9, 85),
    5px -5px 0 rgb(70, 9, 85);
    transition: 500ms ease-in-out;
}
#dicebtn6:hover{
    background-color: #afabd6;
    cursor: pointer;
    box-shadow: 20px 5px 0 rgb(70, 9, 85), -20px -5px 0 rgb(70, 9, 85);
}


#dicebtn8 {
    margin: 0.5em;
    margin-left: 2.7em;
    margin-top: 0.8em;
    font-size: 0.8em;
    margin-bottom: 0em;
    border-radius: 25%;
    background-color: cadetblue;
    font-family: 'MedievalSharp', cursive;
    box-shadow: 5px 5px 0 rgb(9, 35, 85),
    -5px -5px 0 rgb(9, 35, 85),
    -5px 5px 0 rgb(9, 35, 85),
    5px -5px 0 rgb(9, 35, 85);
    transition: 500ms ease-in-out;
}
#dicebtn8:hover{
    background-color: lightblue;
    cursor: pointer;
    box-shadow: 20px 5px 0 rgb(9, 35, 85), -20px -5px 0 rgb(9, 35, 85);
}


#dicebtn10 {
    margin: 0.5em;
    margin-left: 2.7em;
    margin-top: 0.8em;
    font-size: 0.8em;
    margin-bottom: 0em;
    border-radius: 25%;
    background-color: green;
    font-family: 'MedievalSharp', cursive;
    box-shadow: 5px 5px 0 rgb(13, 73, 1),
    -5px -5px 0 rgb(13, 73, 1),
    -5px 5px 0 rgb(13, 73, 1),
    5px -5px 0 rgb(13, 73, 1);
    transition: 500ms ease-in-out;
}
#dicebtn10:hover{
    background-color: rgb(3, 85, 3);
    cursor: pointer;
    box-shadow: 20px 5px 0 rgb(13, 73, 1), -20px -5px 0 rgb(13, 73, 1);
}

#dicebtn12 {
    margin: 0.5em;
    margin-left: 2.7em;
    margin-top: 0.8em;
    font-size: 0.8em;
    margin-bottom: 0em;
    border-radius: 25%;
    background-color: yellow;
    font-family: 'MedievalSharp', cursive;
    box-shadow: 5px 5px 0 rgb(150, 135, 0),
    -5px -5px 0 rgb(150, 135, 0),
    -5px 5px 0 rgb(150, 135, 0),
    5px -5px 0 rgb(150, 135, 0);
    transition: 500ms ease-in-out;
}
#dicebtn12:hover{
    background-color: darkkhaki;
    cursor: pointer;
    box-shadow: 20px 5px 0 rgb(150, 135, 0), -20px -5px 0 rgb(150, 135, 0);
}

#dicebtn20 {
    margin: 0.5em;
    margin-left: 8em;
    margin-top: 0.8em;
    font-size: 0.8em;
    margin-bottom: 0em;
    border-radius: 25%;
    background-color: darkorange;
    font-family: 'MedievalSharp', cursive;
    box-shadow: 5px 5px 0 rgb(138, 76, 0),
		-5px -5px 0 rgb(138, 76, 0),
		-5px 5px 0 rgb(138, 76, 0),
		5px -5px 0 rgb(138, 76, 0);
	transition: 500ms ease-in-out;
}
#dicebtn20:hover{
    background-color: rgb(148, 106, 79);
    cursor: pointer;
    box-shadow: 20px 5px 0 rgb(138, 76, 0), -20px -5px 0 rgb(138, 76, 0);
}

#dicebtn100 {
    margin: 0.5em;
    margin-left: 8em;
    margin-top: 0.8em;
    font-size: 0.8em;
    margin-bottom: 0em;
}


.shaking {
    animation-name: dice-shake;
    animation-duration: 1s;
}

@keyframes dice-shake {
    from {
        transform: translate3d(0,0,0);
    }
    15%{
        transform: translate3d(-30%, 0, 0) rotate3d(0,0,1, -10deg);
    }
    30%{
        transform: translate3d(25%, 0, 0) rotate3d(0,0,1, 5deg);
    }
    45%{
        transform: translate3d(-15%, 0, 0) rotate3d(0,0,1, -5deg);
    }
    60%{
        transform: translate3d(10%, 0, 0) rotate3d(0,0,1, -2deg);
    }
    75%{
        transform: translate3d(-5%, 0, 0) rotate3d(0,0,1, -1deg);
    }

    to {
            transform: translate3d(0, 0, 0);
        
    }
    
}
/* Media querys for dice section of homepage */

@media screen and (min-width: 436px) {
    .dice-box-quad{
        margin: 0.4em;
    }
} 
@media screen and (min-width: 600px) {
    .dice-box-quad{
        margin: 0.8em;
    }
} 

@media screen and (max-width: 436px) {
    .dice-box-quad{
        margin: 0em;
    }       
}
@media screen and (max-width: 420px) {
    .dice-box-quad{
        width: 30rem;
        margin: 0em;
        padding-left: 1.6em;
    }
    .dice-heading-quad{
        margin-left: 2.5em;
    }
    .dice-total-quad{
        margin-left: 1.6em;
    }
    #dicebtn20 {
        margin-left: 3em; 
    }
}
@media screen and (max-width: 334px) {
    .dice-box-double8{
        padding-left: 1.6em;
        max-width: 204px;
    }
    .dice-box-double10{
        padding-left: 1.6em;
        max-width: 204px;
    }
    .dice-box-double12{
        padding-left: 1.6em;
        max-width: 204px;
    }
    .dice-heading-double{
        margin-left: 0.5em;
    }
    #dicebtn8 {
    margin-left: 0.3em;
    }
    #dicebtn10 {
    margin-left: 0.3em;
    }
    #dicebtn12{
    margin-left: 0.3em;
    }
    .dice-total-double{
        margin-left: -0.5em;
    }
}
@media screen and (max-width: 310px) {
    .dice-box-double8{
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .dice-box-double10{
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .dice-box-double12{
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
    .dice-box{
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

}
