/*                Configurations                */

/* Colour Scheme */
:root {
  --background: #E0C9A6;
  --headings: #3d2814;
  --paragraphs: #777;
  --modals: #afabd6;
}

/* Univeral Design */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'Cinzel', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E0C9A6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
}

.headings {
  font-size: 3rem;
  color: var(--headings);
}

/*                Spells Section                */
/* Container */
.spells {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: var(--background);
}

/* Search Bar Related */
.search-bar {
  border: 1px solid grey;
  border-radius: 5px;
  height: 2.5rem;
  width: 100%;
  padding: 0.2rem 2rem 0.2rem 2rem;
  outline: 0;
  background-color: #f5f5f5;
}

.search-icon-container {
  position: relative;
  display: flex;
  min-width: 10rem;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 1.4rem;
  font-size: 1rem;
}


/* Table */
.spells-container {
  border: 2px solid #777;
  display: inline-block;
  height: 500px;
  overflow-y: auto;
  width: 80%;
  height: 60vh;
  margin-top: 0.5rem;
}

.spells-container::-webkit-scrollbar {
  display: none;
}

.spell-table {
  border-collapse: collapse;
  width: 100%;
}

.spell-table th {
  position: sticky;
  top: 0;
}

th {
  background-color: #1976D2;
  color: #fff;
}

.th, td {
  padding: 1rem 0.5rem;
  text-align: center;
}

.table-data {
  overflow: scroll;
  width: 100%;
  height: 500px;
}

th {
  font-size: 1.7rem;
}

td {
  border-bottom: 1px solid #777;
  font-size: 1.5rem;
}

.list-of-spells:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}

.spell-name {
  overflow-wrap: anywhere;
}

/*                List of Spells Tablet                */
@media screen and (min-width: 678px) {
  td {
    font-size: 1.7rem;
  }

  th {
    font-size: 2rem;
  }

}

/*                List of Spells Desktop                */
@media screen and (min-width: 678px) {
  td {
    font-size: 2rem;
  }

  th {
    font-size: 2.4rem;
  }

}

/*                Homepage                 */
.homepage {
  width: 100vw;
}

#homepage__banner {
  display: flex;
  border-bottom: 6px solid #3d2814;
  width: 100%;
  height: 14.5rem;
  background-image: url("https://media.dnd.wizards.com/styles/story_banner/public/images/head-banner/hero_dmgscreen_0.jpg") ;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.main-heading{
  font-family: 'Cinzel', serif;
  font-weight: 500;
  font-size: 3rem;
  color: #3d2814;
  text-align: center;
}

#wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-box-spells{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10em;
  margin-bottom: 4rem;
  width: 100%;
  border-radius: 2em;
  font-size: 1.85em;
  font-family: 'PT Serif', serif;
  opacity: 0%;
  background-image: url("https://media.istockphoto.com/vectors/magic-wand-flat-icon-vector-id530938536?k=20&m=530938536&s=612x612&w=0&h=ZXuEinTeXj8z-GAPbRs8O8yfexeTojQxNBhsUmDbNCw=");
  background-size: 100% 10em;
  background-repeat: no-repeat;
  box-shadow: 0 0 18px 18px rgb(238, 221, 186) inset;
  border: 1px solid rgb(238, 221, 186);
  animation: fadeInS 1.5s;
  -webkit-animation: fadeInS 5s;
  -moz-animation: fadeInS 5s;
  -o-animation: fadeInS 5s;
  -ms-animation: fadeInS 5s;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
}

.main-box-spells:hover{
  opacity: 0.50;
  transition-delay: 3.4s;
}

.main-box-spells__text {
  color: #333;
}

.main-box-spells__text:hover {
  opacity: 1.0;
  font-weight: bold;
}

.main-box-game{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10em;
  width: 100%;
  border: 2px solid rgb(223, 204, 167);
  border-radius: 2em;
  font-size: 1.8em;
  font-family: 'PT Serif', serif;
  color: rgb(241, 233, 233);
  opacity: 0%;
  background-image: url("https://www.pauljoyce.co.uk/wp-content/uploads/2018/12/medieval-theif-dnd-character-creation-900x1229.png");
  background-size: 100% 11em;
  background-repeat: no-repeat;
  box-shadow: 0 0 7px 7px rgb(223, 204, 167) inset;
  animation: fadeInG 5s;
  -webkit-animation: fadeInG 5s;
  -moz-animation: fadeInG 5s;
  -o-animation: fadeInG 5s;
  -ms-animation: fadeInG 5s;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
}

.main-box-game:hover{
  transition-delay: 3.4s;
}

.main-box-game__text {
  color: #fff;
}

.main-box-game__text:hover {
  opacity: 1.0;
  font-weight: bold;
}

.main-box-spells__text,
.main-box-game__text {
  text-decoration: none;
  font-size: 4rem;
}

/*                Homepage Tablet and Mobile                 */
@media screen and (min-width: 678px) {
  #homepage__banner {
    height: 17rem;
  }

  .main-heading{
    font-size: 3.5rem;
  } 

  .main-box-container{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-width: 5em;
    border: 4px solid #3d2814;
    height: 35rem;
    width: 75%;
    min-width: 554px;
    max-width: 813px;
    background-image: url(../src/Images/ezgif.com-gif-makerQUICK.gif);
    background-size: 100% 100%;
  }

  .main-box-spells {
    margin-bottom: 0;
    height: 8em;
  }

  .main-box-game {
    height: 8em;
  }
}

@media screen and (min-width: 1024px) {
  #homepage__banner {
    height: 20rem;
  }

  .main-heading{
    font-size: 4rem;
  }
}

/*                Homepage animations                */
@keyframes fadeInS {
  0% {opacity:0;}
  100% {opacity:0.35;}
}
@-moz-keyframes fadeInS {
  0% {opacity:0;}
  100% {opacity:0.35;}
}
@-webkit-keyframes fadeInS {
  0% {opacity:0;}
  100% {opacity:0.35;}
}
@-o-keyframes fadeInS {
  0% {opacity:0;}
  100% {opacity:0.35;}
}
@-ms-keyframes fadeInS {
  0% {opacity:0;}
  100% {opacity:0.35;}
}
@keyframes fadeInG {
  0% {opacity:0;}
  100% {opacity:0.75;}
}
@-moz-keyframes fadeInG {
  0% {opacity:0;}
  100% {opacity:0.75;}
}
@-webkit-keyframes fadeInG {
  0% {opacity:0;}
  100% {opacity:0.75;}
}
@-o-keyframes fadeInG {
  0% {opacity:0;}
  100% {opacity:0.75;}
}
@-ms-keyframes fadeInG {
  0% {opacity:0;}
  100% {opacity:0.75;}
}





h2 {
  display: flex;
  justify-content: center;
}

.player__details{
  display: flex;
  gap: 2em;
}

.spell h3 {
  margin-left: 5%;
}